/*---------------------------------*/
/* Fichier Css pour le Site Reservia */
/* Projet 2 Parcours Développeur Web OpenclassRooms */
/* Réalisé par Aurélien GALAND */
/*---------------------------------*/

/* Déclaration des polices */

@font-face {
  font-family: "Raleway";
  src: url("media/fonts/static/Raleway-Regular.ttf");
}
@font-face {
  font-family: "Raleway-bold";
  src: url("media/fonts/static/Raleway-Bold.ttf");
}
@font-face {
  font-family: "Raleway-semibold";
  src: url("media/fonts/static/Raleway-SemiBold.ttf");
}

/*---------------------------------*/

/*Configuration de la page */

body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  max-width: 1440px;
  height: 100%;
  margin: auto;
}

#blocPage {
  transition: all 250ms ease-in-out;
  width: 92%;
  height: 100%;
  margin: auto;
}

/*---------------------------------*/
/* Header */

header {
  width: 98%;
  height: 120px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header #inscription {
  margin-right: 15px;
  font-family: "Raleway-bold", Arial, Helvetica, sans-serif;
  order: 3;
}
header nav {
  order: 2;
  flex: 1;
}

header nav ul {
  display: flex;
  justify-content: flex-end;
}

header a {
  text-decoration: none;
  color: #000;
}

header nav ul li a {
  width: 150px;
  height: 118px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li a:hover {
  background-color: #fff;
  color: #0065ff;
  border-top: 2px solid;
}

header #inscription a {
  color: #0065ff;
}
header #inscription a:hover {
  color: #4f95ff;
}

/*---------------------------------*/
/* Zone de recherche */

#recherche {
  width: 98%;
  margin: auto;
}

#recherche h1 {
  font-family: "Raleway-bold", Arial, Helvetica, sans-serif;
  font-size: 1.4em;
  letter-spacing: -0.5px;
}

#recherche h2 {
  line-height: 2.5em;
}

#zoneDeRecherche {
  height: 50px;
  margin-top: 10px;
  display: flex;
}

#marqueurCarte {
  min-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 15px 0 0 15px;
}

#zoneDeRecherche input {
  font-family: "Raleway-bold", Arial, Helvetica, sans-serif;
  font-size: 17px;
  padding-left: 15px;
  width: 235px;
  border: 0;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}

#zoneDeRecherche input::-moz-placeholder {
  opacity: 1;
}
#zoneDeRecherche input::placeholder {
  color: #000;
}

#zoneDeRecherche button span:first-child {
  display: none;
}
#zoneDeRecherche button {
  font-family: "Raleway-bold", Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #fff;
  width: 135px;
  border: 0;
  background-color: #0065ff;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
}
#zoneDeRecherche button:hover {
  background-color: #024ec0;
}

#zoneDeRecherche input:focus,
button:focus {
  outline: none;
}

/*---------------------------------*/
/* Filtres */

#filtresGlobal {
  width: 98%;
  margin: auto;
  margin-top: 25px;
}
#filtres {
  width: 75%;
  display: flex;
  justify-content: space-between;
}

#filtres h3 {
  height: 50px;
  font-family: "Raleway-bold", Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

#filtresIconesTexte {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#filtresIconesTexte ul {
  width: 95%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 10px;
}

#filtresIconesTexte li {
  display: flex;
}
#filtresIconesTexte ul li i {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  background-color: #deebff;
  color: #0065ff;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#filtresIconesTexte ul li a {
  height: 46px;
  padding-right: 30px;
  font-family: "Raleway-bold", Arial, Helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  border-top: 2px solid #d9d9d9;
  border-bottom: 2px solid #d9d9d9;
  border-right: 2px solid #d9d9d9;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#filtresIconesTexte ul li a:hover {
  transition: all 0.3s ease-out;
  color: #fff;
  background-color: #0065fc;
  border-top: 2px #deebff solid;
  border-right: 2px #deebff solid;
  border-bottom: 2px #deebff solid;
  box-shadow: 1px 1px 7px grey;
}

/*---------------------------------*/
/* Informations */

#informations {
  width: 98%;
  margin: auto;
  margin-top: 30px;
}

#informations i {
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: #0065fc;
  border: 1px solid #d9d9d9;
  border-radius: 12.5px;
  margin-right: 10px;
}

/*---------------------------------*/
/* Hébergements - Général */

#hebergements {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

#hebergements a {
  text-decoration: none;
}

.notesEtoiles .bleu {
  color: #0065fc;
}
.notesEtoiles .gris {
  color: #d9d9d9;
}

/*Marseille*/

#hebergementsMarseille {
  width: 66%;
  height: 100%;
  background-color: #f2f2f2;
  border-radius: 25px;
}

#hebergementsMarseille h2 {
  font-family: "Raleway-bold", Arial, Helvetica, sans-serif;
  font-size: 1.4em;
  width: 91%;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

#hebGlobal {
  width: 95%;
  height: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 30px;
}

.hebCont {
  height: 190px;
  width: 235px;
  display: flex;
  flex-direction: column;
  border: 5px solid #fff;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px #d9d9d9;
}

.hebCont:hover {
  transition: all 0.3s ease-out;
  box-shadow: 0 0 15px #808080;
}

#hebergementsMarseille img {
  width: 100%;
  height: 115px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}

.hebDesc {
  padding-left: 10px;
  color: #000;
}

.hebDesc p:first-child {
  font-family: "Raleway-bold", Arial, Helvetica, sans-serif;
  line-height: 32px;
}

.hebDesc p:nth-child(2) {
  font-size: 0.9em;
  line-height: 10px;
}

.hebDesc strong {
  font-family: "Raleway-semibold", Arial, Helvetica, sans-serif;
}

#hebergementsMarseille .notesEtoiles {
  line-height: 32px;
}

#plus {
  font-family: "Raleway-bold", Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  width: 91%;
  height: 100px;
  margin: auto;
  display: flex;
  align-items: center;
}

#plus a {
  color: #000;
}

#plus a:hover {
  color: rgb(43, 43, 43);
}

/* Les plus populaires */

#populaires {
  width: 31%;
  background-color: #f2f2f2;
  border-radius: 25px;
}

#titreIconePop {
  font-family: "Raleway-bold", Arial, Helvetica, sans-serif;
  width: 85%;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#titreIconePop h2 {
  font-size: 1.4em;
}

#popGeneral {
  width: 85%;
  height: 100%;
  margin: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.popCont {
  height: 135px;
  border: 5px solid #fff;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px #d9d9d9;
  display: flex;
}

.popCont:hover {
  transition: all 0.3s ease-out;
  box-shadow: 0 0 15px #808080;
}

.popCont a {
  width: 100%;
  color: #000;
  display: flex;
}

#populaires img {
  width: 130px;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.popDesc {
  width: 50%;
  height: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.popDesc p:first-child {
  font-family: "Raleway-bold", Arial, Helvetica, sans-serif;
}

.popDesc p:nth-child(2) {
  font-size: 0.9em;
  line-height: 30px;
}
.popDesc strong {
  font-family: "Raleway-semibold", Arial, Helvetica, sans-serif;
}

#populaires .notesEtoiles {
  margin-top: auto;
}

/*---------------------------------*/
/* Activités */

#activites a {
  text-decoration: none;
  color: #000;
}

#activites h2 {
  font-family: "Raleway-bold", Arial, Helvetica, sans-serif;
  font-size: 1.4em;
  height: 60px;
  margin-top: 40px;
  display: flex;
  align-items: center;
}

#actGeneral {
  display: flex;
  justify-content: space-between;
}
#activitesP1,
#activitesP2 {
  width: 48%;
  display: flex;
  justify-content: space-between;
}
.actCont {
  border-radius: 20px;
  box-shadow: 0 0 10px #d9d9d9;
}

.actPa {
  width: 46%;
  height: 445px;
  border-radius: 20px;
}

.actPa img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 390px;
  object-fit: cover;
}

#actP1b,
#actP2b {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 46%;
  height: 445px;
}

#actP1b .actCont img {
  border-radius: 20px 20px 0 0;
}
#actP1b .actCont:first-child {
  width: 100%;
  height: 230px;
}

#actP1b .actCont:first-child img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  object-position: 0 40%;
}

#actP1b .actCont:last-child {
  width: 100%;
  height: 165px;
}

#actP1b .actCont:last-child img {
  width: 100%;
  height: 110px;
  object-fit: cover;
  object-position: 0 20%;
}

#actP2b .actCont {
  height: 200px;
}

#actP2b img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 147px;
  object-fit: cover;
  object-position: 0 10%;
}

.actDesc {
  font-family: "Raleway-bold", Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  height: 50px;
  width: 85%;
  margin: auto;
}

.actCont:hover {
  transition: all 0.3s ease-out;
  box-shadow: 0 0 15px #808080;
}

/*---------------------------------*/
/* footer */

footer {
  width: 100%;
  height: 215px;
  display: flex;
  margin-top: 55px;
  background-color: #f2f2f2;
}

#elementsFooter {
  width: 70%;
  height: 60%;
  margin-left: 60px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: space-between;
}

footer h3 {
  font-family: "Raleway-bold";
  font-size: 16px;
}

footer a {
  text-decoration: none;
  color: #000;
}

#aPropos {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#nosHebergements,
#assistance {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
footer a:hover {
  color: #0065fc;
}

/*---------------------------------*/
/*---------------------------------*/
/*---------------------------------*/
/*---------------------------------*/
/* MEDIA QUERIES */
/*---------------------------------*/
/*---------------------------------*/
/*---------------------------------*/

/*---------------------------------*/
/* < 1200px */
@media (max-width: 1200px) {
  #blocPage {
    transition: all 250ms ease-in-out;
    width: 98%;
  }
  #hebergements {
    flex-direction: column-reverse;
  }
  #populaires {
    height: 360px;
    width: 100%;
  }

  #titreIconePop {
    width: 89%;
  }
  #popGeneral {
    transition: all 250ms ease-in-out;
    width: 97%;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .popCont {
    width: 25%;
    height: 230px;
    flex-direction: column;
  }
  .popCont a {
    flex-direction: column;
  }

  #populaires img {
    width: 100%;
    height: 140px;
    border-radius: 15px 15px 0 0;
  }

  .popDesc {
    margin-top: 8px;
    height: 78px;
    width: 95%;
  }
  #hebergementsMarseille {
    transition: all 250ms ease-in-out;
    margin-top: 20px;
    width: auto;
  }
  #hebGlobal {
    transition: all 250ms ease-in-out;
    justify-content: space-between;
    width: 90%;
  }

  .hebCont {
    width: 255px;
    height: 210px;
  }
  .hebDesc {
    height: 50%;
    display: flex;
    flex-direction: column;
  }
  .hebDesc .notesEtoiles {
    margin-top: auto;
  }

  #actGeneral {
    width: 90%;
    margin: auto;
    flex-direction: column;
  }
  #activites h2 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  #activitesP1,
  #activitesP2 {
    width: 100%;
  }

  #activitesP2 {
    margin-top: 40px;
  }

  #actP1b .actCont:first-child img {
    object-position: 0 50%;
  }

  #actP1b .actCont:last-child img {
    object-position: 0 30%;
  }
  #actP2b .actCont:last-child img {
    object-position: 0 40%;
  }
}

/*---------------------------------*/
/*Tablettes*/
@media (max-width: 768px) {
  #populaires {
    height: 640px;
  }
  #populaires img {
    width: 200px;
    height: 100%;
    border-radius: 15px 0 0 15px;
  }
  #popGeneral {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .popCont {
    height: 140px;
    flex-direction: row;
    width: 90%;
  }
  .popCont a {
    flex-direction: row;
  }
  .popDesc {
    height: 90%;
    width: 300px;
    margin-left: 15px;
  }
  #hebergementsMarseille img {
    border-radius: 15px 0 0 15px;
    width: 180px;
  }
  #hebGlobal {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .hebCont {
    width: 90%;
    height: auto;
    flex-direction: row;
  }
  .hebCont a {
    width: 100%;
    display: flex;
  }
  .hebDesc {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .hebDesc .notesEtoiles {
    margin-top: auto;
  }
}

/*---------------------------------*/
/*Téléphones*/
@media (max-width: 576px) {
  #blocPage {
    width: 100%;
  }
  header {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  header img {
    margin-left: 20px;
  }

  header #inscription {
    order: 2;
  }

  header nav {
    order: 3;
    width: 100%;
    height: 50px;
    flex: auto;
  }

  header nav ul {
    height: 100%;
    width: 100%;
  }
  header nav ul li {
    height: 100%;
    width: 100%;
  }

  header nav ul li a {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #f2f2f2;
  }

  header nav ul li a:hover {
    color: #0065ff;
    border-top: 0;
    border-bottom: 2px solid;
  }

  #recherche {
    margin-top: 35px;
    width: 100%;
  }

  #recherche h1,
  h2 {
    width: 90%;
    margin: auto;
  }

  #zoneDeRecherche {
    width: 90%;
    margin: auto;
    margin-top: 20px;
  }
  #zoneDeRecherche input {
    width: 70%;
    margin-right: -15px;
  }
  #zoneDeRecherche button {
    width: 50px;
    border-radius: 15px;
  }

  #zoneDeRecherche button span:first-child {
    display: initial;
  }
  #zoneDeRecherche button span:nth-child(2) {
    display: none;
  }

  #filtres {
    margin: auto;
    flex-direction: column;
    width: 90%;
  }

  #filtres h3 {
    justify-content: flex-start;
  }

  #filtresIconesTexte {
    justify-content: space-between;
  }

  #filtresIconesTexte ul {
    width: 100%;
  }
  #filtresIconesTexte ul li i {
    margin-right: 10px;
  }
  #filtresIconesTexte ul li a {
    padding-right: 20px;
  }
  #informations {
    width: 90%;
    margin: auto;
    margin-top: 30px;
  }
  #informations p {
    display: flex;
  }
  #informations span {
    width: 90%;
  }

  #populaires {
    border-radius: 0;
  }
  #populaires img {
    width: 130px;
  }

  .popDesc {
    height: 80%;
    width: 55%;
    margin: auto;
  }

  #hebergementsMarseille {
    border-radius: 0;
    margin-top: 0;
    background-color: #fff;
  }
  .hebCont {
    flex-direction: column;
  }
  .hebCont a {
    flex-direction: column;
  }
  #hebergementsMarseille img {
    width: 100%;
    border-radius: 15px 15px 0 0;
  }

  #activites h2 {
    margin-top: 10px;
  }

  #activitesP1,
  #activitesP2 {
    width: 100%;
    height: 645px;
    flex-direction: column;
    justify-content: space-between;
  }

  #activitesP2 {
    margin-top: 15px;
  }
  .actPa {
    width: 100%;
    height: 190px;
  }
  .actPa img {
    height: 130px;
    object-position: 0 30%;
  }
  #actP1b,
  #actP2b {
    width: 100%;
    justify-content: space-around;
  }

  #actP1b .actCont:first-child,
  #actP1b .actCont:last-child,
  #actP2b .actCont {
    height: 190px;
  }

  #actP1b .actCont:first-child img,
  #actP1b .actCont:last-child img,
  #actP2b img {
    height: 130px;
  }
  footer {
    width: auto;
    height: 500px;
  }
  #elementsFooter {
    flex-direction: column;
    height: 90%;
    width: 90%;
    margin: auto;
    justify-content: space-around;
  }

  #aPropos {
    height: 130px;
  }
  #nosHebergements,
  #assistance {
    height: 90px;
  }
}
